$content_width: 980px;
$phone-screen: "screen and (max-width: 480px)";
$tablet-screen: "screen and (max-width: 980px)";

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 153px;
  font-family: Helvetica, 'SourceHanSans', 'Microsoft Yahei';
  background-color: #fff;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
input,button{
  outline: none;
}

.container{
  width: $content_width;
  max-width: 100%;
  margin: {
    right: auto;
    left: auto;
  }

}

.blured-backdrop-light{
  background-color: #fff; 
}
.blured-backdrop-dark{
  background-color: #333;
}

.backdrop-filter-supported{

  .blured-backdrop-light{
    background-color: rgba(#fff, .5);
    -webkit-backdrop-filter: blur(30px);
  }

  .blured-backdrop-dark{
    background-color: rgba(#000, .5);
    -webkit-backdrop-filter: blur(30px);
  }

}

.clearfix{
  overflow: hidden;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

@media #{$tablet-screen} {

  .container{
    width: auto;
    margin: {
      right: 30px;
      left: 30px;
    }
  }

}

@media #{$phone-screen} {

  body{
    padding-top: 90px;
  }

  .container{
    margin: {
      right: 20px;
      left: 20px;
    }
  }

}