$color_highlight: #1da1f2;
$color_dark: #333;
$color_header: #4b68e7;
$color_background: #f1f5f9;//#2e3238;
$header_height: 80px;

$content_width: 1100px;

$phone-screen: "screen and (max-width: 760px)";
$tablet-screen: "screen and (max-width: 980px)";

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
}

html,body{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  background-color: $color_background;
}
body{
  position: relative;
  box-sizing: border-box;
  padding-top: $header_height;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
input, button{
  outline: none;
}

.container{
  width: $content_width;
  max-width: 100%;
  margin: {
    right: auto;
    bottom: 20px;
    left: auto;
  }
  padding: 80px 0 50px 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.blured-backdrop-light{
  background-color: #fff; 
}
.blured-backdrop-dark{
  background-color: #333;
}

.backdrop-filter-supported{

  .blured-backdrop-light{
    background-color: rgba(#fff, .7);
    -webkit-backdrop-filter: blur(30px);
  }

  .blured-backdrop-dark{
    background-color: rgba(#000, .5);
    -webkit-backdrop-filter: blur(30px);
  }

}

.hairline-supported .hariline{
  border-width: .5px;
}

.clearfix{
  overflow: hidden;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.fade-image{
  opacity: 0;
  transition: .4s;
  transform: translate3d(0, 20px, 0) scale(.95);

  &.loaded{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

@import 'lightbox';
@import 'player';
@import 'markdown';

@media #{$tablet-screen} {

  .container{
    width: auto;
    margin: 0 30px;
    padding-top: 50px;
  }

}

@media #{$phone-screen} {

  body{
    padding-top: 30px;
  }

  .container{
    margin: {
      right: 0;
      left: 0;
    }
    padding-bottom: 40px;
    border-radius: 0;
  }

}