
.blog-header{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  background-color: $color_header;
  box-shadow: inset 0 -.5px 0 rgba(#000, .5), 0 10px 20px rgba(#000, .1);

  .logo{
    height: $header_height - 20;
    margin: 10px 0;
    padding: 0 30px;
    overflow: hidden;
    box-shadow: inset -.5px 0 0 rgba(#fff, .1);

    a,span{
      display: block;
      color: rgba(#fff, 1);
      font-size: 26px;
      font-weight: normal;
      line-height: $header_height - 20;
      text-decoration: none;
    }

  }

  .mobile-menu-trigger-input,
  .mobile-menu-trigger{
    display: none;
  }

  .menu {
    height: $header_height;
    margin-left: 50px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li{
        float: left;
        margin-right: 50px;
        line-height: $header_height;
        &.current-menu-item{
          a{
            color: $color_highlight;
          }
        }
        a{
          color: rgba(#fff, .5);
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          &:hover{
            color: #fff;
          }
        }

      }

    }

  }

  .searcher{
    position: relative;
    width: 200px;
    height: 36px;
    margin-top: ($header_height - 36) / 2;
    margin-right: 30px;
    overflow: hidden;

    form {
      display: block;
    }

    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 145px;
      height: 36px;
      padding: 0 40px 0 15px;
      background-color: transparent;
      border: none;
      color: rgba(#fff, .8);
      font-size: 16px;
      background-color: rgba(#fff, .1);
      border-radius: 18px;
      &:focus{
        box-shadow: inset 0 0 0 1px $color_highlight;
      }
      &::-webkit-input-placeholder{
        color: rgba(#fff, .3);
      }
      &::-moz-placeholder{
        color: rgba(#fff, .3);
      }
      &::-moz-placeholder{
        color: rgba(#fff, .3);
      }
      &:-ms-input-placeholder{
        color: rgba(#fff, .3);
      }
    }

    label{
      position: absolute;
      top: 0;
      right: 5px;
      display: block;
      width: 36px;
      height: 36px;
      background: none;
      border: none;
      cursor: pointer;
      color: rgba(#fff, .5);
      text-align: center;
      font-size: 16px;
      line-height: 36px;
      transition: background .4s;

      &:hover{
        color: #fff;
      }

    }

  }

  .progress-bar{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background-image: linear-gradient(to right, #e74c3c, #f1c40f, #2ecc71);
    background-size: 100vw 1px;
    pointer-events: none;
    transition: all .2s, opacity .3s;

    &.completed{
      opacity: 0;
    }

  }

}

@media #{$tablet-screen} {
  .blog-header{
    position: fixed;
    z-index: 50;
  }
}

@media #{$phone-screen} {

  .blog-header{
    height: 60px;
    .container{
      height: 60px;
      margin: 0;
    }

    .logo{
      position: absolute;
      top: 0;
      left: 50%;
      float: none;
      height: 60px;
      margin: 0;
      box-shadow: none;
      color: rgba(#000, .8);
      transform: translateX(-50%);

      a, span{
        display: block;
        height: 60px;
        font-size: 20px;
        font-style: normal;
        line-height: 64px;
      }

    }

    .mobile-menu-trigger-input{
      display: block;
      position: absolute;
      opacity: 0;

      &:checked ~ .menu{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
      }

    }

    .mobile-menu-trigger{
      position: relative;
      display: block;
      float: left;
      width: 60px;
      height: 60px;
      overflow: hidden;
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 60px;
      span{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
      }
    }

    .menu{
      position: absolute;
      z-index: 51;
      top: 59px;
      left: 0;
      width: 100%;
      height: auto;
      margin: 0;
      background-color: $color_header;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0 10px 30px rgba($color_header, .3);
      transition: .4s;
      transform: translate3d(0, 20px, 0);

      ul {
        width: 100%;
        li{
          display: block;
          float: none;
          height: 50px;
          margin: 0;
          padding: 0;
          border-top: .5px solid rgba(#fff, .2);
          text-align: center;
          &.current-menu-item{
            a{
              font-weight: bolder;
            }
          }
          a{
            display: block;
            height: 50px;
            color: #fff;
            line-height: 50px;
            font-weight: normal;
          }

        }
      }

    }

    .searcher{
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 60px;
      margin-top: 0;
      overflow: visible;

      label{
        width: 60px;
        height: 60px;
        line-height: 60px;
      }

      input{
        box-sizing: border-box;
        z-index: 53;
        top: 0;
        right: 60px;
        width: 100vw;
        height: 60px;
        padding-left: 100px;
        transform: translate3d(0, -60px, 0);
      }

    }

  }

}