.margox-audio-player{
  box-sizing: content-box;
  position: relative;
  height: 80px;
  padding: 16px;
  background-color: $color_dark;
  border: .5px solid $color_dark - 10;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba($color_header, .2);

  .cover,
  .caption,
  .sub-caption,
  .progress{
    position: relative;
    z-index: 1;
  }

  .cover{
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #222;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;

    .btn-play-pause{
      display: block;
      width: 80px;
      height: 80px;
      border: none;
      border-radius: 50%;
      text-decoration: none;
      background-color: rgba(#000, .5);
      &:hover{
        background-color: rgba(#000, .7);
      }

      i{
        display: block;
        width: 80px;
        height: 80px;
        color: #fff;
        font-size: 24px;
        line-height: 80px;
        text-align: center;

        &.icon-pause{
          display: none;
        }

      }

      &.playing{

        .icon-play{
          display: none;
        }

        .icon-pause{
          display: block;
        }

      }

    }

  }

  .caption,
  .sub-caption{
    margin: 5px 0 2px 96px;
    padding: 0;
    overflow: hidden;
  }

  .caption{    
    color: rgba(#fff, .7);
    font-size: 14px;
  }

  .sub-caption{
    color: rgba(#fff, .3);
    font-size: 12px;
    font-weight: normal;
  }

  .progress{
    margin: 12px 0 0 96px;
    overflow: hidden;

    span{
      height: 15px;
      color: rgba(#fff, .3);
      line-height: 16px;
      font-size: 12px;
      font-weight: bold;
    }

    .progress-bar{
      display: block;
      box-sizing: border-box;
      height: 4px;
      margin: 6px 45px;
      background-color: rgba(#fff, .2);
      border-left: solid 0 $color_highlight;
      border-radius: 2px;
      transition: .5s linear;
    }

    .played-time{
      float: left;
    }

    .total-time{
      float: right;
    }

  }

}

.markdown-body .margox-audio-player{
  box-sizing: content-box;
}