.post{
  margin-bottom: 40px;
}

.post-header{
  margin-bottom: 10px;

  .title{
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;

    a{
      color: #333;
      text-decoration: none;
      &:hover{
        color: #000;
      }
    }

  }

}

.single-post{

  .post-header{
    margin-bottom: 50px;

    .title{
      font-size: 36px;
      font-weight: normal;
      line-height: 40px;

      a{
        color: #333;
        text-decoration: none;
        &:hover{
          color: #000;
        }
      }

    }

  }

}

.post-featured-content{
  margin-top: 20px;

  .featured-image{
    display: block;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      transition: .4s;
    }

    &:hover img{
      transform: scale(1.1);
    }

  }

  .post-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;

    li{
      position: relative;
      display: block;
      box-sizing: border-box;
      width: 25%;
      padding: 10px;
      overflow: hidden;

      a{
        position: relative;
        display: block;
        padding-bottom: 100%;
        overflow: hidden;

        img{
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .4s;
        }

        &:hover img{
          transform: scale(1.1);
        }

      }

    }

  }

  .post-audio{
    position: relative;
    height: 80px;
    padding: 16px;
    background-color: #333;

    .cover,
    .caption,
    .sub-caption,
    .progress{
      position: relative;
      z-index: 1;
    }

    .cover{
      position: relative;
      float: left;
      width: 80px;
      height: 80px;
      background-color: #222;
      background-size: cover;

      .btn-play-pause{
        display: block;
        width: 80px;
        height: 80px;
        border: none;
        text-decoration: none;
        background-color: rgba(#000, .5);

        i{
          display: block;
          width: 80px;
          height: 80px;
          color: #fff;
          font-size: 24px;
          line-height: 80px;
          text-align: center;

          &.icon-pause{
            display: none;
          }

        }

        &.playing{

          .icon-play{
            display: none;
          }

          .icon-pause{
            display: block;
          }

        }

      }

    }

    .caption,
    .sub-caption{
      margin: 9px 0 6px 96px;
      padding: 0;
      overflow: hidden;
    }

    .caption{    
      color: #999;
      font-size: 14px;
    }

    .sub-caption{
      color: #666;
      font-size: 12px;
      font-weight: normal;
    }

    .progress{
      margin: 9px 0 0 96px;
      overflow: hidden;

      span{
        height: 15px;
        color: rgba(#fff, .5);
        line-height: 16px;
        font-size: 12px;
        font-weight: bold;
      }

      .progress-bar{
        display: block;
        box-sizing: border-box;
        height: 1px;
        margin: 7px 45px;
        background-color: #222;
        border-left: solid 0 rgba(#fff, .5);
      }

      .played-time{
        float: left;
      }

      .total-time{
        float: right;
      }

    }

    .vudio-waveform-wrap{
      position: absolute;
      z-index: 0;
      right: 60px;
      bottom: 27px;
      width: 512px;
      height: 50px;
      overflow: hidden;
      pointer-events: none;
    }

  }

}

.post-excerpt{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
  line-height: 22px;

  p{
    margin: 0;
  }

}

.post-content{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666;
  font-size: 16px;
  line-height: 180%;

  p:first-child{
    margin-top: 0;
  }

}

@import './markdown';

.post-excerpt:empty,
.post-content:empty{
  margin-top: 0;
  margin-bottom: 0;

  &~.post-footer{
    border: none;
  }

}

.post-footer{
  border-top: 1px solid #e4e4e5;

  &.no-border{
    border: none;
  }

  .metas{
    position: relative;
    height: 40px;
    line-height: 40px;
    color: #999;
    font-size: 14px;

    a{
      color: #999;
      text-decoration: none;

      &:hover{
        color: #333;
      }

    }

    .post-qrcode{
      position: absolute;
      z-index: 10;
      right: 25px;
      bottom: 0;
      width: 150px;
      height: 150px;
      padding: 10px;
      background-color: rgba(0,0,0,.3);
      opacity: 0;
      pointer-events: none;
      -webkit-backdrop-filter: blur(30px);
      transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: translate3d(0, 30px, 0);

      &::after{
        position: absolute;
        right: -10px;
        bottom: 15px;
        content: '';
        border: solid 5px transparent;
        border-left-color: rgba(0,0,0,.3);
      }

      img{
        display: block;
        width: 150px;
        height: 150px;
      }

    }

    .btn-show-qrcode:hover + .post-qrcode{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

  }

}

.post-pagers{
  margin-top: 100px;
  padding: 60px;
  text-align: center;
  border-top: 1px solid #e4e4e5;

  a,span{
    display: inline-block;
    box-sizing: border-box;
    min-width: 50px;
    margin: 0 10px;
    padding: 0 10px;
    color: #999;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: #fff;
    border: solid 1px #fff;
  }

  a:hover{
    border-color: #e4e4e5;
  }

  .current{
    color: #fff;
    background-color: #999;
    border-radius: 50%;
  }

}

.post-navs{
  margin-top: 100px;
  padding: 60px;
  text-align: center;
  border-top: 1px solid #e4e4e5;

  a{
    color: #666;
    font-size: 18px;
    text-decoration: none;

    &:hover{
      color: #333;
    }

  }

}