.post-list{
  overflow: hidden;
}

@mixin post-metas {
  .metas{
    position: relative;
    height: 14px;
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

    a{
      color: #aaa;
      text-decoration: none;

      &:hover{
        color: $color_highlight;
      }

    }

    .date::after,
    .categories::after{
      content: '/';
      padding: 0 5px;
    }

    .btn-show-qrcode{
      display: none;
    }
    .post-qrcode{
      position: absolute;
      z-index: 10;
      right: 25px;
      bottom: 0;
      width: 150px;
      height: 150px;
      padding: 10px;
      background-color: $color_dark;
      border-radius: 6px;
      box-shadow: 0 10px 30px rgba(#000, .3);
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      transform: translate3d(0, 30px, 0);

      &::after{
        position: absolute;
        right: -10px;
        bottom: 15px;
        content: '';
        border: solid 5px transparent;
        border-left-color: $color_dark;
      }

      img{
        display: block;
        width: 150px;
        height: 150px;
      }

    }

    .post-qrcode:hover,
    .btn-show-qrcode:hover + .post-qrcode{
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

  }
}

.post{
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 40px auto;
  padding-bottom: 40px;
  border-bottom: .5px dashed #f1f5f9 - 10;
}
.post-inner{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.post-header{
  margin-bottom: 10px;

  .title{
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;

    a{
      color: #333;
      text-decoration: none;
      &:hover{
        color: $color_highlight;
      }
    }

  }

  @include post-metas;

  .metas{
    margin-top: 15px;
    padding-top: 15px;
    border-top: dashed 1px #f1f5f9 - 10;
  }

}

.single-post{

  .post-header{
    margin-bottom: 30px;

    .title{
      font-size: 36px;
      font-weight: normal;
      line-height: 40px;

      a{
        color: #333;
        text-decoration: none;
        &:hover{
          color: $color_highlight;
        }
      }

    }

  }

}

.post-featured-content{
  margin-top: 20px;

  .featured-image{
    display: block;
    overflow: hidden;
    border-radius: 6px;

    img {
      display: block;
      max-width: 100%;
      height: 300px;
      border-radius: 6px;
      object-fit: cover;
    }

    &:hover {
      img{
        opacity: .8;
      }
    }

  }

}

.post-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: -10px;
  padding: 0;
  overflow: hidden;

  li{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    overflow: hidden;

    a{
      position: relative;
      display: block;
      padding-bottom: 100%;
      overflow: hidden;
      border-radius: 6px;

      img{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }

      &:hover {
        img{
          opacity: .8;
        }
      }

    }

  }

}
.markdown-body .post-gallery{
  padding: 0;
}


.post-excerpt{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
  line-height: 22px;

  p{
    margin: 0;
  }

}

.post-content{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666;
  font-size: 16px;
  line-height: 180%;

  p:first-child{
    margin-top: 0;
  }

}

.post-excerpt:empty,
.post-content:empty{
  margin-top: 0;
  margin-bottom: 0;

  &~.post-footer{
    border-top: none;
  }

}

.post-footer{
  @include post-metas;
}

.post-pagers{
  padding: 0 20px;
  text-align: center;

  &:empty{
    display: none;
  }

  a,span{
    display: inline-block;
    box-sizing: border-box;
    min-width: 40px;
    height: 40px;
    margin: 0 10px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background-color: #f1f5f9;
    border-radius: 6px;
    i{
      font-size: 12px;
    }
  }

  a:hover{
    background-color: #e1e5e9;
  }

  .current{
    color: #fff;
    background-color: $color_highlight;
  }

}

.post-navs{
  margin-top: 40px;
  padding: 0;
  overflow: hidden;
  border-bottom: none;
  a{
    box-sizing: border-box;
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 300px;
    padding: 90px 30px 0 30px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    &:hover .mask{
      opacity: .8;
    }
    &:only-child{
      float: none;
      width: 100%;
    }
    &:first-child .mask{
      background-color: rgba(#000, .7);
    }
    img{
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .tip{
      position: relative;
      z-index: 2;
      display: inline-block;
      height: 36px;
      margin-bottom: 10px;
      padding: 0 15px;
      border: 1px solid rgba(#fff, .6);
      color: rgba(#fff, .6);
      font-size: 16px;
      font-weight: lighter;
      line-height: 36px;
    }
    .title{
      position: relative;
      z-index: 2;
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 24px;
      line-height: 32px;
    }
    .mask{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .6);
    }
  }
}

@media #{$tablet-screen} {
  
  .vudio-waveform-wrap{
    display: none;
  }

  .post{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 30px 20px 30px;
  }

  .post-navs{
    margin-top: 20px;
    a {
      float: none;
      width: 100%;
    }
  }

}

@media #{$phone-screen} {

  .post{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 20px 20px 20px;
  }

  .post-header .title{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

  .single-post .post-header{
    margin-bottom: 0;
    .title{
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
    }
  }

  .post-featured-content{
    margin-top: 20px;
    .featured-image img{
      height: 120px;
    }
  }

  .post-gallery-wrap,
  .format-gallery .post-featured-content{
    height: 100px;
    margin: {
      right: -20px;
      left: -20px;
    };
    overflow: hidden;
  }

  .post-gallery-wrap{
    height: 100px;
    margin: 20px 0;
  }

  .post-gallery{
    display: block;
    height: 120px;
    margin: 0;
    padding: 0 15px;
    overflow: auto;
    font-size: 0;
    white-space: nowrap;

    li{
      display: inline-block;
      width: 100px;
      margin: 0 5px;
      padding: 0;
    }

  }
  .markdown-body .post-gallery{
    margin: 0;
    padding: 0 5px;
  }

  .post-excerpt, 
  .post-content{
    margin: 15px 0;
  }


  .post-footer{
    .btn-show-qrcode{
      display: none;
    }

  }

  .post-pagers{
    margin-top: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    border: none;

    a,span{
      margin: 10px 5px;
    }

  }

}

@import 'comment';